# LaTeX auxiliary files
*.aux
*.log
*.synctex.gz
*.fls
*.fdb_latexmk
*.toc
*.bbl
*.blg
*.out
*.dvi
*.lof
*.lot
*.gz
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.fls
*.idx
*.ilg
*.ind
*.inx
*.out
*.thm
*.nav
*.snm
*.vrb
*.xdy
*.run.xml
*.bcf
*.synctex(busy)